html,
body {
  margin: 0;
  width: 100%;
  font-family: handjet;
}

header {
  background-color: white;
  box-shadow: 0px 1px 30px rgb(146, 146, 146);
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  padding-right: 30px;
  align-items: center;
}

header h1 {
  font-size: 40px;
  font-weight: 500;
}
.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  cursor: pointer;
  font-size: 28px;
}

.search-input {
  width: 0;
  opacity: 0;
  transition: width 0.4s ease, opacity 0.4s ease;
  position: absolute;
  left: 30px;
  top: -5px;
  border: none;
  border-bottom: 1px solid black;
  margin-left: 30px;
  font-family: handjet;
  font-size: 25px;
  font-weight: 400;
}

#toggle-search:checked + .search-icon + .search-input {
  width: 170px;
  height: 50px;
  opacity: 1;
}

.collect {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-around;
  padding: 0 20px;
  gap: 20px;
  cursor: pointer;
}

.books {
  background-color: #fff;
  max-width: 280px;
  min-width: 130px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  transition: 0.2s ease;
}

.books:hover {
  scale: 1.05;
}

.books img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.books p {
  margin: 10px 0;
  font-size: 25px;
}

.filters {
  font-size: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  margin-right: 105px;
  margin-top: 30px;
}

.filters button {
  background: none;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.filters button:hover {
  background-color: rgb(192, 192, 192);
}

.Quote {
  margin-right: 250px;
  font-weight: 500;
}
.next {
  display: flex;
  justify-content: center;
}
.next button {
  background: none;
  border: 2px solid black;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-size: 30px;
  font-family: handjet;
  padding: 10px;
  margin-bottom: 60px;
}

.next button:hover {
  background-color: rgb(192, 192, 192);
}
